@mixin autofill {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill {
        -webkit-text-fill-color : color(secondary);
        -webkit-box-shadow      : 0 0 0 1000px color(light) inset;
        transition              : background-color 5000s ease-in-out 0s;
        background              : -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
    }
}
