<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>

<main>
    <div class="container">

        <div class="smallContainer">
            <% for (let key in lists) { %>

                <section class="sectionTop">
                    <div class="sectionHeader">
                        <img src="images/25223.png"></img>
                        <% const docDate = new Date(key) %>
                        <span id="<%= `date_${docDate}` %>"><%= docDate.toLocaleString('ru', {
                          day: 'numeric', month: 'long'
                            }) %></span>
                        <div>
                            Документов: <%= lists[key].length %>
                            ( <%= lists[key].totalPrice.toLocaleString('ru') %> р. )
                        </div>
                    </div>

                    <div class="sectionBody">
                        <% const data = lists[key].data %>
                        <% for (var item in data) { %>

                        <section class="sectionItem">
                            <div class="sectionHeader">
                                <span><%= data[item].docTypesName %> № <%= item %></span>
                                <span><%= data[item].sum.toLocaleString('ru') %> р.</span>
                            </div>

                            <div class="itemProducts">
                                <div class="itemGoodsList">
                                    <em>&#9660;</em>
                                    <span class="itemProductsList">Товаров: <%= data[item].items.length %></span>
                                </div>

                                <% data[item].items.forEach(obj => { %>

                                    <% const {
                                        productName,
                                        productImage,
                                        productPrice,
                                        productQuantity
                                    } = obj %>

                                    <% const Numeral = (number, titles) => {
                                        let cases = [2, 0, 1, 1, 1, 2];
                                        return titles[
                                            (number%100 > 4 && number%100 < 20)
                                                ? 2 : cases[(number%10 < 5) ? number%10 : 5]
                                            ]
                                    } %>


                                    <div class="sectionItemContent">
                                        <figure class="<%= !productImage && 'emptyImage' %>">
                                            <img src="<%= productImage ? productImage : 'images/no-img.png' %>"
                                                 alt="<%= productName %>">
                                        </figure>
                                        <div class="titleContainer">
                                            <div>
                                                <span class="titleItem"><%= productName %></span>
                                                <span>
                                                    <%= productQuantity %> <%= Numeral(productQuantity, ['штука', 'штуки', 'штук']) %>
                                                </span> x
                                                <span><%= productPrice %> р.</span>
                                            </div>
                                            <span class="titleTotalPrice"><%= (productPrice * productQuantity).toLocaleString('ru') %> р.</span>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>

                        </section>

                        <% } %>
                    </div>

                </section>

            <% } %>
        </div>

    </div>
</main>

</body>
<script src="./scripts/script.js"></script>
</html>
