html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.emptyImage {
  border: 1px solid #1c1d20;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2.175rem;
}
@media (min-width: 1920px) {
  .container {
    padding: 0;
  }
}

.smallContainer {
  width: 100%;
  max-width: 769.2307692308px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .smallContainer {
    padding: 0 5.8rem;
  }
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.clearfix,
.clearfix :after {
  content: "";
  clear: both;
  display: table;
}

html {
  font-size: 18px;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  font-family: "Century Gothic", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 1.45;
  margin: 0;
  background-color: #f2f4f6;
  color: #242428;
}
body a {
  color: #242428;
}

html,
body {
  height: 100%;
  width: 100%;
}

.sectionTop {
  background-color: white;
  color: #242428;
  color: #bdc6d0;
  font-weight: 400;
  position: relative;
}
.sectionTop a {
  color: #242428;
}
.sectionTop.show .sectionBody {
  display: initial;
}
.sectionTop.show .sectionHeader {
  padding: 1.015rem 1.595rem;
}
@media (max-width: 768px) {
  .sectionTop.show .sectionHeader {
    padding: 0.58rem 1.015rem;
  }
}
.sectionTop.show .sectionHeader img {
  transform: rotateZ(180deg);
}

.sectionItem {
  background-color: white;
  color: #242428;
}
.sectionItem a {
  color: #242428;
}
.sectionItem:not(:last-child) {
  border-bottom: 1px solid #c5ced6;
}
.sectionItem .itemProducts {
  display: none;
}
.sectionItem em {
  font-size: 0.5rem;
}
.sectionItem.show .itemProducts {
  display: grid;
}

.sectionHeader {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 0.725rem;
  align-items: center;
  color: #bdc6d0;
  cursor: pointer;
  padding: 1.015rem 1.595rem;
}
@media (max-width: 768px) {
  .sectionHeader {
    padding: 0.58rem 1.015rem;
    font-size: 0.7rem;
  }
}
.sectionHeader img {
  width: auto;
  height: 0.7rem;
}

.sectionBody {
  display: none;
}
.sectionBody .sectionHeader {
  grid-template-columns: 1fr auto;
  padding: 1.0875rem 0;
}

.sectionItemContent {
  display: grid;
  grid-template-columns: 18% 1fr;
  grid-column-gap: 1.45rem;
  align-items: self-start;
  padding: 0 2.175rem;
}
@media (max-width: 768px) {
  .sectionItemContent {
    font-size: 0.7rem;
    grid-template-columns: 14% 1fr;
  }
}
.sectionItemContent:last-child {
  margin-bottom: 0.725rem;
}
.sectionItemContent figure {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 4.5rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .sectionItemContent figure {
    height: 1.7rem;
  }
}
.sectionItemContent img {
  max-width: initial;
  width: auto;
  height: 100%;
}
.sectionItemContent span {
  font-weight: 500;
}

.itemProducts {
  display: grid;
  grid-row-gap: 1.0875rem;
}

.itemProductsList {
  cursor: pointer;
}

.itemGoodsList {
  padding: 0 2.175rem;
  grid-template-columns: auto 1fr;
}
@media (max-width: 768px) {
  .itemGoodsList {
    font-size: 0.7rem;
  }
}

.titleContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: end;
}

.titleItem {
  display: block;
  width: 100%;
}

.defaultBoxShadow, .sectionTop {
  box-shadow: 0 0 5px #c5ced6;
}

/*# sourceMappingURL=style.css.map */
