// colors
$colors: (
                 primary: #0caaff,
                 secondary: #242428,
                 secondary_light: #808080,
                 success: #28A745,
                 info: #3278ff,
                 warning: #FFC107,
                 danger: #d93933,
                 light: #F8F9FA,
                 dark: #28292e,
         );
