.container {
    width:     100%;
    max-width: $max-width;
    margin:    0 auto;

    @include media-breakpoint-up(xs) {
        padding: 0 spacer-x(1.5);
    }

    @include media-breakpoint-up(xxl) {
        padding: 0;
    }
}

.smallContainer {
    width:     100%;
    max-width: $max-width-small / 1.3;
    margin:    0 auto;

    @include media-breakpoint-up(md) {
        padding: 0 spacer-x(4);
    }
}


