.itemProducts {
    display:      grid;
    grid-row-gap: spacer-y(.75);
}

.itemProductsList {
    cursor: pointer;
}

.itemGoodsList {
    padding:               0 spacer-x(2);
    grid-template-columns: auto 1fr;

    @include media-breakpoint-down(md) {
        font-size: .7rem;
    }
}
