.sectionTop {
    @include set-background(lighten(color(light), 5%));
    @extend .defaultBoxShadow;
    color:       darken(color(light), 20%);
    font-weight: 400;
    position:    relative;

    &.show {

        .sectionBody {
            display: initial;
            //padding: 0 spacer-x(1) * .7;
        }

        .sectionHeader {
            padding: spacer-x(1) * .7 spacer-y(1) * 1.1;

            @include media-breakpoint-down(md) {
                padding: spacer-y(1) * .4 spacer-x(1) * .7;
            }

            img {
                transform: rotateZ(180deg);
            }
        }
    }
}

.sectionItem {
    @include set-background(lighten(color(light), 5%));

    &:not(:last-child) {
        border-bottom: 1px solid darken(color(light), 17%);
    }

    .itemProducts {
        display: none;
    }

    em {
        font-size: .5rem;
    }


    &.show {

        .itemProducts {
            display: grid;
        }
    }
}

.sectionHeader {
    display:               grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap:       spacer-x(.5);
    align-items:           center;
    color:                 darken(color(light), 20%);
    cursor:                pointer;
    padding:               spacer-o(text);

    @include media-breakpoint-down(md) {
        padding:   spacer-o(smalltext);
        font-size: .7rem;
    }

    img {
        width:  auto;
        height: .7rem;
    }
}

.sectionBody {
    display: none;

    .sectionHeader {
        grid-template-columns: 1fr auto;
        padding:               spacer-y(.75) 0;
    }
}

.sectionItemContent {
    display:               grid;
    grid-template-columns: 18% 1fr;
    grid-column-gap:       spacer-x(1);
    align-items:           self-start;
    padding:               0 spacer-x(2);

    @include media-breakpoint-down(md) {
        font-size:             .7rem;
        grid-template-columns: 14% 1fr;
    }

    &:last-child {
        margin-bottom: spacer-y(.5);
    }


    figure {
        align-items:     center;
        justify-content: center;
        display:         flex;
        height:          4.5rem;
        overflow:        hidden;

        @include media-breakpoint-down(md) {
            height: 1.7rem;
        }
    }

    img {
        max-width: initial;
        width:     auto;
        height:    100%;
    }

    span {
        font-weight: 500;
    }
}
